body {
  background-color: #fff5b7;
}

hr {
  border-style: dotted none none;
  border-color: #ff449f;
  border-top-width: 6px;
  width: 5%;
}

h1 {
  color: #00ead3;
  font-family: Helvetica;
}

h3 {
  font-family: Helvetica;
  color: #005f99;
}
